#app {
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr;
  grid-template-areas: "app-header" "page-layout";
}

#app-header .left-side {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  font-size: var(--font-size-medium);
  color: var(--u-color_text_very-subdued);
}

#app-header .left-side .item {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  align-items: center;
}

#app-header .left-side .item .icon {
  color: var(--u-color_icon);
}

/* -- App Error ------------------------------------------------------------ */

.app-error {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  padding-top: 8rem;
  font-weight: 600;
  color: var(--u-color_text);
}

.app-error .icon {
  font-size: 4rem;
  color: var(--u-color_critical_icon);
}

/* -- Code ----------------------------------------------------------------- */

/* TODO: Move this to a CodePage component in ui-core */
.sidebar .namespace-header {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.sidebar .namespace-header .icon {
  font-size: 1.5rem;
  line-height: 1;
}

.sidebar .is-overflowing .namespace-header .icon:after {
  position: absolute;
  top: 0;
  right: -1.5rem;
  bottom: 0;
  content: "";
  width: 1.5rem;
  background: linear-gradient(
    90deg,
    var(--color-sidebar-bg),
    var(--color-sidebar-bg),
    var(--color-sidebar-bg-transparent)
  );
}

.sidebar .namespace-header .namespace {
  display: inline-flex;
  color: var(--color-sidebar-fg-em);
  font-size: 1rem;
  font-weight: 500;
  height: 1.5rem;
  overflow: hidden;
  white-space: nowrap;
  text-align: right;
  flex-direction: row-reverse;
}

.sidebar .sidebar_collapsed .namespace-header {
  gap: 0.25rem;
}

.sidebar .sidebar_collapsed .namespace-header .icon {
  font-size: var(--font-size-base);
}

.sidebar .sidebar_collapsed .namespace-header .namespace {
  font-size: var(--font-size-small);
}

@import "./unison-local/help-modal.css";
@import "./unison-local/push-to-share-modal.css";
@import "./unison-local/report-bug-modal.css";
